.container {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: dodgerblue;
  padding: 10px;
}

.container > div {
  background-color: #fff567;
  border: 1px solid white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

